#include "torabo_tsuki_lp.dtsi"
#include <input/processors.dtsi>
#include <dt-bindings/zmk/input_transform.h>

#define MOUSE 4
#define SCROLL 5

/ {
    my_temp_layer: my_temp_layer {
        compatible = "zmk,input-processor-temp-layer";
        #input-processor-cells = <2>;
    };

    my_xy_scaler: my_xy_scaler {
        compatible = "zmk,input-processor-scaler";
        #input-processor-cells = <3>;
    };

    ib_msc_ls: ib_msc_ls {
        compatible = "zmk,input-behavior-listener";
        device = <&pointing_device>;
        layers = <SCROLL>;
        evt-type = <INPUT_EV_REL>;
        x-code = <INPUT_REL_HWHEEL>;
        y-code = <INPUT_REL_WHEEL>;
        scale-multiplier = <1>; 
        scale-divisor = <2>;
    };
};

&pointing_listener {
    input-processors = 
        /* XY軸の反転 */
        <&zip_xy_transform (INPUT_TRANSFORM_X_INVERT | INPUT_TRANSFORM_Y_INVERT)>,       
        <&my_xy_scaler 0 1 SCROLL>,
        <&my_temp_layer MOUSE 600>;
};

&size_s_transform {
    col-offset = <7>;
};

&size_m_transform {
    col-offset = <7>;
};

&size_l_transform {
    col-offset = <7>;
};